/* Color Theme Swatches in Hex */
$Voyages-1-hex: #5D7CA6;
$Voyages-2-hex: #023059;
$Voyages-3-hex: #03588C;
$Voyages-4-hex: #73A2BF;
$Voyages-5-hex: #F2CAA7;

/* Color Theme Swatches in RGBA */
$Voyages-1-rgba: rgba(92,124,165, 1);
$Voyages-2-rgba: rgba(1,48,89, 1);
$Voyages-3-rgba: rgba(2,87,140, 1);
$Voyages-4-rgba: rgba(114,161,191, 1);
$Voyages-5-rgba: rgba(242,202,167, 1);

/* Color Theme Swatches in HSLA */
$Voyages-1-hsla: hsla(213, 29, 50, 1);
$Voyages-2-hsla: hsla(208, 96, 17, 1);
$Voyages-3-hsla: hsla(202, 96, 28, 1);
$Voyages-4-hsla: hsla(202, 37, 60, 1);
$Voyages-5-hsla: hsla(28, 74, 80, 1);/* Color Theme Swatches in Hex */
$Voyages-1-hex: #5D7CA6;
$Voyages-2-hex: #023059;
$Voyages-3-hex: #03588C;
$Voyages-4-hex: #73A2BF;
$Voyages-5-hex: #F2CAA7;

/* Color Theme Swatches in RGBA */
$Voyages-1-rgba: rgba(92,124,165, 1);
$Voyages-2-rgba: rgba(1,48,89, 1);
$Voyages-3-rgba: rgba(2,87,140, 1);
$Voyages-4-rgba: rgba(114,161,191, 1);
$Voyages-5-rgba: rgba(242,202,167, 1);

/* Color Theme Swatches in HSLA */
$Voyages-1-hsla: hsla(213, 29, 50, 1);
$Voyages-2-hsla: hsla(208, 96, 17, 1);
$Voyages-3-hsla: hsla(202, 96, 28, 1);
$Voyages-4-hsla: hsla(202, 37, 60, 1);
$Voyages-5-hsla: hsla(28, 74, 80, 1);

/*******************************************************************************************************/
/* Color Theme Swatches in Hex */
$Graphisme-1-hex: #F2F2F2;
$Graphisme-2-hex: #D9D9D9;
$Graphisme-3-hex: #8C8C8C;
$Graphisme-4-hex: #404040;
$Graphisme-5-hex: #0D0D0D;
